<h1><%= @pirate.name %></h1>
<p1><%= @pirate.height %></p1>
<p1><%= @pirate.weight %></p1>

<h2><%= @ship1.name %></h2>
<p1><%= @ship1.type %></p1>
<p1><%= @ship1.booty %></p1>


<h2><%= @ship2.name %></h2>
<p1><%= @ship2.type %></p1>
<p1><%= @ship2.booty %></p1>
